<html lang="RU">
<head>
    <style>
        select {
            width: 180px;
        }

        body {
            counter-reset: heading; /* Инициируем счетчик */
        }

        h2:before {
            counter-increment: heading; /* Указываем идентификатор счетчика */
            content: counter(heading) ". "; /* Выводим текст перед содержимым тега <h2> */
            font-weight: normal;
            font-size: 16px;
        }

        #zatemnenie {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        #okno {
            width: 300px;
            height: 220px;
            text-align: center;
            padding: 15px;
            border: 3px solid #000000;
            border-radius: 10px;
            color: #000000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fff;
        }
        #zatemnenie:target {display: block;}
        #zatemnenie2 {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        #okno2 {
            width: 250px;
            height: 180px;
            text-align: center;
            padding: 15px;
            border: 3px solid #000000;
            border-radius: 10px;
            color: #000000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fff;
        }
        #zatemnenie2:target {display: block;}
        #zatemnenie3 {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        #okno3 {
            width: 300px;
            height: 220px;
            text-align: center;
            padding: 15px;
            border: 3px solid #000000;
            border-radius: 10px;
            color: #000000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fff;
        }
        #zatemnenie3:target {display: block;}
        .close {
            display: inline-block;
            border: 1px solid #000000;
            color: #000000;
            padding: 0 12px;
            margin: 10px;
            text-decoration: none;
            background: #f2f2f2;
            font-size: 12pt;
            cursor: pointer;
        }

        .close:hover {
            background: #e6e6ff;
        }
    </style>

    <script>
        function handleButtonClick(value) {
            let reference = document.getElementById(value);
            let persSurname = document.getElementById(value).getElementsByClassName('persSurname')[0];
            // let persName = reference.getElementsByClassName('persName')[0].innerText;
            // let persFamily = reference.getElementsByClassName('persFamily')[0].innerText;
            // let phoneNum = reference.getElementsByClassName('phoneNum')[0].innerText;
            // let numberType = reference.getElementsByClassName('numberType')[0].innerText;

            alert(reference.toString());
            alert(persSurname.toString());
        }
    </script>

</head>
<body>

<a href="#zatemnenie">
    <button><b>Добавить контакт</b></button>
</a>
<div id="zatemnenie">
    <div id="okno">
        <div>
            <div><b>Добавить контакт</b></div>
            <form method="post" action="add">
                <table>
                    <tr>
                        <td>Фамилия<span style="color: red; ">*</span></td>
                        <td> <input type="text" name="surname" minlength="2" maxlength="40" required></td>
                    </tr>
                    <tr>
                        <td>Имя<span style="color: red; ">*</span></td>
                        <td><input type="text" name="name" minlength="2" maxlength="40" required></td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td><input type="text" name="family" minlength="2" maxlength="40"></td>
                    </tr>
                    <tr>
                        <td>Телефон<span style="color: red; ">*</span></td>
                        <td><input type="tel" name="number" placeholder="+Х-ХХХ-ХХХ-ХХ-ХХ"
                                   pattern="[\+]\d[\-]\d{3}[\-]\d{3}[\-]\d{2}[\-]\d{2}"
                                   minlength="16" maxlength="18" required></td>
                    </tr>
                    <tr>
                        <td>Тип номера<span style="color: red; ">*</span></td>
                        <td><select name="type" required>
                            <option selected disabled style="display:none">Выберете тип номера</option>
                            <option value="0">Сотовый</option>
                            <option value="1">Рабочий</option>
                            <option value="2">Домашний</option>
                        </select></td>
                    </tr>
                </table>
                <button type="submit">Добавить</button>
            </form>
        </div>
        <a href="#" class="close">Закрыть окно</a>
    </div>
</div>

<a href="#zatemnenie2"><button><b>Найти контакт</b></button></a>
<div id="zatemnenie2">
    <div id="okno2">
        <div>
            <div><b>Найти контакт</b></div>
            <form method="post" action="search">
                <table>
                    <tr>
                        <td>Фамилия</td>
                        <td> <input type="text" name="surname" minlength="2" maxlength="40"></td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td><input type="text" name="name" minlength="2" maxlength="40"></td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td><input type="tel" name="number" placeholder="+Х-ХХХ-ХХХ-ХХ-ХХ"
                                   pattern="[\+]\d[\-]\d{3}[\-]\d{3}[\-]\d{2}[\-]\d{2}" minlength="16" maxlength="18"></td>
                    </tr>
                    <tr>
                </table>
                <button type="submit">Найти</button>
            </form>
        </div>
        <a href="#" class="close">Закрыть окно</a>
    </div>
</div>
<p></p>

<div><b>Список контактов</b></div>
<table>
    {{#references}}
        <tr>
            <td style="vertical-align: baseline">
                <h2></h2>
            </td>

            <div id={{id}}>
                <td style="vertical-align: baseline">
                    <span class="persSurname">{{person.surname}}</span>
                    <span class="persName">{{person.name}}</span>
                    <span class="persFamily">{{person.family}}</span>
                </td>

                <td style="vertical-align: baseline">
                    <span class="phoneNum">{{number.phoneNumber}}</span>
                </td>

                <td style="vertical-align: baseline">
                    <span class="numberType">{{number.phoneType.type}}</span>
                </td>
            </div>

            <td style="vertical-align: baseline">
                <a href="#zatemnenie3">
                    <button onclick="handleButtonClick({{id}})">Изменить</button>
                </a>
                <div id="zatemnenie3">
                    <div id="okno3">
                        <div>
                            <div><b>Изменить контакт</b></div>
                            <form method="post" action="update">
                                <table>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td><input type="text" name="surname" id="persSurname"
                                                   minlength="2" maxlength="40" required></td>
                                    </tr>
                                    <tr>
                                        <td>Имя</td>
                                        <td><input type="text" name="name" id="persName"
                                                   minlength="2" maxlength="40" required></td>
                                    </tr>
                                    <tr>
                                        <td>Отчество</td>
                                        <td><input type="text" name="family" id="persFamily"
                                                   minlength="2" maxlength="40" required></td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td><input type="tel" name="number" placeholder="+Х-ХХХ-ХХХ-ХХ-ХХ"
                                                   pattern="[\+]\d[\-]\d{3}[\-]\d{3}[\-]\d{2}[\-]\d{2}"
                                                   required id="phoneNumber"></td>
                                    </tr>
                                    <tr>
                                        <td>Тип номера</td>
                                        <td>
                                            <select name="type" required>
                                                <option value="0">Сотовый</option>
                                                <option value="1">Рабочий</option>
                                                <option value="2">Домашний</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <button type="submit">Изменить</button>
                            </form>
                        </div>
                        <a href="#" class="close">Закрыть окно</a>
                    </div>
                </div>
            </td>

            <td style="vertical-align: baseline">
                <form method="post" action="delete">
                    <button type="submit" name="id" value={{id}}>Удалить</button>
                </form>
            </td>
        </tr>
    {{/references}}
</table>

</body>
</html>
