<html lang="RU">
<head>
    <style>
        select {
            width: 180px;
        }

        body {
            counter-reset: heading; /* Инициируем счетчик */
        }

        h2:before {
            counter-increment: heading; /* Указываем идентификатор счетчика */
            content: counter(heading) ". "; /* Выводим текст перед содержимым тега <h2> */
            font-weight: normal;
            font-size: 16px;
        }

        #zatemnenie {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        #okno {
            width: 300px;
            height: 220px;
            text-align: center;
            padding: 15px;
            border: 3px solid #000000;
            border-radius: 10px;
            color: #000000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fff;
        }
        #zatemnenie:target {display: block;}
        #zatemnenie2 {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        #okno2 {
            width: 250px;
            height: 180px;
            text-align: center;
            padding: 15px;
            border: 3px solid #000000;
            border-radius: 10px;
            color: #000000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fff;
        }
        #zatemnenie2:target {display: block;}
        #zatemnenie3 {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        #okno3 {
            width: 300px;
            height: 220px;
            text-align: center;
            padding: 15px;
            border: 3px solid #000000;
            border-radius: 10px;
            color: #000000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fff;
        }
        #zatemnenie3:target {display: block;}
        .close {
            display: inline-block;
            border: 1px solid #000000;
            color: #000000;
            padding: 0 12px;
            margin: 10px;
            text-decoration: none;
            background: #f2f2f2;
            font-size: 12pt;
            cursor: pointer;
        }

        .close:hover {
            background: #e6e6ff;
        }
    </style>
    <script>
        function handleButtonClick(idElement) {

            let persSurname = document.getElementById('persSurname' + idElement).innerText;
            let persName = document.getElementById('persName' + idElement).innerText;
            let persFamily = document.getElementById('persFamily' + idElement).innerText;
            let phoneNum = document.getElementById('phoneNum' + idElement).innerText;
            let numberType = document.getElementById('numberType' + idElement).innerText;

            document.getElementById('inputSurname').value = persSurname;
            document.getElementById('inputName').value = persName;
            document.getElementById('inputFamily').value = persFamily;
            document.getElementById('inputNumber').value = phoneNum;
            document.getElementById('editButton').value = idElement;

            if (numberType === 'Сотовый') {
                document.getElementById('cell').selected = 'selected';
            } else if (numberType === 'Рабочий') {
                document.getElementById('fix').selected = 'selected';
            } else {
                document.getElementById('home').selected = 'selected';
            }
        }
    </script>
</head>
<body>
<table>
    <tr>
        <td style="vertical-align: baseline">
            <form method="get" action="/">
                <button><b>Обновить список</b></button>
            </form>
        </td>
        <td style="vertical-align: baseline">
            <a href="#zatemnenie">
                <button><b>Добавить контакт</b></button>
            </a>
            <div id="zatemnenie">
                <div id="okno">
                    <div>
                        <div><b>Добавить контакт</b></div>
                        <form method="post" action="add">
                            <table>
                                <tr>
                                    <td>Фамилия<span style="color: red; ">*</span></td>
                                    <td><input type="text" name="surname" minlength="2" maxlength="40" required></td>
                                </tr>
                                <tr>
                                    <td>Имя<span style="color: red; ">*</span></td>
                                    <td><input type="text" name="name" minlength="2" maxlength="40" required></td>
                                </tr>
                                <tr>
                                    <td>Отчество</td>
                                    <td><input type="text" name="family" minlength="2" maxlength="40"></td>
                                </tr>
                                <tr>
                                    <td>Телефон<span style="color: red; ">*</span></td>
                                    <td><input type="tel" name="number" placeholder="+Х-ХХХ-ХХХ-ХХ-ХХ"
                                               pattern="[\+]\d[\-]\d{3}[\-]\d{3}[\-]\d{2}[\-]\d{2}"
                                               minlength="16" maxlength="18" required></td>
                                </tr>
                                <tr>
                                    <td>Тип номера<span style="color: red; ">*</span></td>
                                    <td><select name="type" required>
                                        <option selected disabled style="display:none">Выберете тип номера</option>
                                        <option value="0">Сотовый</option>
                                        <option value="1">Рабочий</option>
                                        <option value="2">Домашний</option>
                                    </select></td>
                                </tr>
                            </table>
                            <button type="submit">Добавить</button>
                        </form>
                    </div>
                    <a href="#" class="close">Закрыть окно</a>
                </div>
            </div>
        </td>
        <td style="vertical-align: baseline">
            <a href="#zatemnenie2"><button><b>Найти контакт</b></button></a>
            <div id="zatemnenie2">
                <div id="okno2">
                    <div>
                        <div><b>Найти контакт</b></div>
                        <form method="post" action="search">
                            <table>
                                <tr>
                                    <td>Фамилия</td>
                                    <td> <input type="text" name="surname" minlength="2" maxlength="40"></td>
                                </tr>
                                <tr>
                                    <td>Имя</td>
                                    <td><input type="text" name="name" minlength="2" maxlength="40"></td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td><input type="tel" name="number" placeholder="+Х-ХХХ-ХХХ-ХХ-ХХ"
                                               pattern="[\+]\d[\-]\d{3}[\-]\d{3}[\-]\d{2}[\-]\d{2}" minlength="16" maxlength="18"></td>
                                </tr>
                                <tr>
                            </table>
                            <button type="submit">Найти</button>
                        </form>
                    </div>
                    <a href="#" class="close">Закрыть окно</a>
                </div>
            </div>
        </td>
    </tr>
</table>

<div><b>{{listName}}</b></div>
<table>
    {{#references}}
        <tr>
            <td style="vertical-align: baseline">
                <h2></h2>
            </td>

            <td style="vertical-align: baseline">
                <span id="persSurname{{id}}">{{person.surname}}</span>
                <span id="persName{{id}}">{{person.name}}</span>
                <span id="persFamily{{id}}">{{person.family}}</span>
            </td>

            <td style="vertical-align: baseline">
                <span id="phoneNum{{id}}">{{number.phoneNumber}}</span>
            </td>

            <td style="vertical-align: baseline">
                <span id="numberType{{id}}">{{number.phoneType.type}}</span>
            </td>

            <td style="vertical-align: baseline">
                <a href="#zatemnenie3">
                    <button onclick="handleButtonClick({{id}})">Изменить</button>
                </a>
                <div id="zatemnenie3">
                    <div id="okno3">
                        <div>
                            <div><b>Изменить контакт</b></div>
                            <form method="post" action="update">
                                <table>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td><input type="text" name="surname" id="inputSurname"
                                                   minlength="2" maxlength="40" required></td>
                                    </tr>
                                    <tr>
                                        <td>Имя</td>
                                        <td><input type="text" name="name" id="inputName"
                                                   minlength="2" maxlength="40" required></td>
                                    </tr>
                                    <tr>
                                        <td>Отчество</td>
                                        <td><input type="text" name="family" id="inputFamily"
                                                   minlength="2" maxlength="40"></td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td><input type="tel" name="number" placeholder="+Х-ХХХ-ХХХ-ХХ-ХХ"
                                                   pattern="[\+]\d[\-]\d{3}[\-]\d{3}[\-]\d{2}[\-]\d{2}"
                                                   required id="inputNumber"></td>
                                    </tr>
                                    <tr>
                                        <td>Тип номера</td>
                                        <td>
                                            <select name="type" required>
                                                <option id="cell" value="0">Сотовый</option>
                                                <option id="fix" value="1">Рабочий</option>
                                                <option id="home" value="2">Домашний</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <button type="submit" id="editButton" name="id">Изменить</button>
                            </form>
                        </div>
                        <a href="#" class="close">Закрыть окно</a>
                    </div>
                </div>
            </td>

            <td style="vertical-align: baseline">
                <form method="post" action="delete">
                    <button type="submit" name="id" value={{id}}>Удалить</button>
                </form>
            </td>
        </tr>
    {{/references}}
</table>

</body>
</html>
